[*.cs]

# IDE0011: Add braces
csharp_prefer_braces = true:silent

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none
