<form [formGroup]="registerForm" (ngSubmit)="register()">
   <h2 class="text-center text-primary">Sign Up</h2>
   <hr>

   <div class="form-group">
      <input type="text" class="form-control" formControlName="name" placeholder="Name">
   </div>

   <div class="form-group">
      <input type="text" [ngClass]="{'is-invalid': registerForm.get('login').errors && registerForm.get('login').touched}" class="form-control is-invalid" formControlName="login" placeholder="Login">
      <div class="invalid-feedback">please choose a username</div>
   </div>

   <div class="form-group">
      <input type="password" [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}" class="form-control" formControlName="password" placeholder="Password">
      <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">please choose a password</div>
      <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">password must have minimun of 3 chars</div>
      <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">password must have maximun of 8 chars</div>
   </div>

   <div class="form-group">
      <input type="password" [ngClass]="
         {'is-invalid': registerForm.get('confirmpassword').errors && registerForm.get('confirmpassword').touched ||
         registerForm.get('confirmpassword').touched && registerForm.hasError('mismatch')}" class="form-control" formControlName="confirmpassword" placeholder="Confirm Password">
      <div class="invalid-feedback" *ngIf="registerForm.get('confirmpassword').hasError('required') && registerForm.get('confirmpassword').touched">please choose a password</div>
      <div class="invalid-feedback" *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmpassword').touched">passwords must match</div>
   </div>

   <div class="form-group text-center">
      <button class="btn btn-success" type="submit">Register</button>
      <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
   </div>

</form>


<p>Form Value: {{registerForm.value | json}}</p>
<p>Form Value: {{registerForm.status | json}}</p>


<!--
<form #registerForm="ngForm" (ngSubmit)="register()">
   <h2 class="text-center text-primary">Sign Up</h2>
   <hr>

   <div class="form-group">
     <input type="text" class="form-control" required name="name" [(ngModel)]="model.name" placeholder="Name">
   </div>

   <div class="form-group">
     <input type="text" class="form-control" required name="login" [(ngModel)]="model.login" placeholder="Login">
   </div>

   <div class="form-group">
     <input type="password" class="form-control" required name="login" [(ngModel)]="model.password" placeholder="Password">
   </div>

   <div class="form-group text-center">
     <button class="btn btn-success" type="submit">Register</button>
     <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
   </div>

 </form> -->
